@font-face {
    font-family: 'PSL245pro';
    src: url('../font/PSL245pro.ttf') format('truetype');
}

@font-face {
    font-family: 'FC_Lamoon_Bold';
    src: url('../font/FC_Lamoon_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'PSL244pro';
    src: url('../font/PSL244pro.ttf') format('truetype');
}

@font-face {
    font-family: 'DB_HeaventRounded';
    src: url('../font/DB_HeaventRoundedv3_2.ttf') format('truetype');
}

@font-face {
    font-family: 'DB_HeaventRounded_Bd';
    src: url('../font/DB_HeaventRounded_Bdv3_2.ttf') format('truetype');
}

body {
    background-color: black;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#loading-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.loading-indicator {
    width: 62px;
    height: 62px;
    background: url('../boot/loading.png') 0 0 no-repeat;
    animation: spin 1s linear infinite;
}

p {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'FC_Lamoon_Bold';
}

#game {
    position: absolute;
    height: 100%;
    width: 100%;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
